<h3><a class="btn btn-secondary" href="/tm/addClient"><i class="fa fa-plus"></i>Ajouter un Client</a> Sélectionner le
    client</h3>
<form action="/tm/filter" method="POST" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-8">
            <input type="text" class="form-control" name="search" placeholder="search" value="{{search}}"></div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-info"> Ok</button></div>
    </div>
</form>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>nom</th>
            <th>activité</th>
            <th>compte</th>
            <th>adresse</th>
            <th>ad poste</th>
            <th>ville</th>
            <th>code cli</th>
            <th>RC</th>
            <th>MF</th>
            <th>AI</th>
            <th>telephone</th>
             <th>telephone</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.activity}}</td>
            <td>{{this.compte}}</td>
            <td>{{this.adresse}}</td>
            <td>{{this.adressepos}}</td>
            <td>{{this.city}}</td>
            <td>{{this.code}}</td>
            <td>{{this.rc}}</td>
            <td>{{this.mf}}</td>
            <td>{{this.ai}}</td>
            <td>{{this.number}}</td>


            <td>
                <a class="btn btn-secondary" href="/tm/gotoblwithclient/{{this._id}}"></i>sélectionner</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>